parameters:
	ignoreErrors:
		-
			message: '#^Method PHPGenesis\\Common\\Config\\IModuleConfig\:\:get\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Common/src/Config/IModuleConfig.php

		-
			message: '#^Function dto\(\) has parameter \$dto_class with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Common/src/Helpers/helpers.php

		-
			message: '#^Function dto\(\) has parameter \$object with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Common/src/Helpers/helpers.php

		-
			message: '#^Function dto_collection\(\) has parameter \$dto_class with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Common/src/Helpers/helpers.php

		-
			message: '#^Function dto_collection\(\) has parameter \$objects with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Common/src/Helpers/helpers.php

		-
			message: '#^Function objectify\(\) has parameter \$value with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Common/src/Helpers/helpers.php

		-
			message: '#^Parameter \#1 \$value of function collect expects Illuminate\\Contracts\\Support\\Arrayable\<\(int\|string\), mixed\>\|iterable\<\(int\|string\), mixed\>\|null, object given\.$#'
			identifier: argument.type
			count: 1
			path: src/Common/src/Helpers/helpers.php

		-
			message: '#^Unable to resolve the template type TKey in call to function collect$#'
			identifier: argument.templateType
			count: 1
			path: src/Common/src/Helpers/helpers.php

		-
			message: '#^Unable to resolve the template type TValue in call to function collect$#'
			identifier: argument.templateType
			count: 1
			path: src/Common/src/Helpers/helpers.php

		-
			message: '#^Trait PHPGenesis\\Common\\Traits\\HasExternalId is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Common/src/Traits/HasExternalId.php

		-
			message: '#^Trait PHPGenesis\\Common\\Traits\\HasMake is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Common/src/Traits/HasMake.php

		-
			message: '#^Undefined variable\: \$_GLOBAL$#'
			identifier: variable.undefined
			count: 1
			path: src/Logger/src/BaseLogger.php

		-
			message: '#^Variable \$_GLOBAL in isset\(\) is never defined\.$#'
			identifier: isset.variable
			count: 1
			path: src/Logger/src/BaseLogger.php

		-
			message: '#^Parameter \#1 \$json of function json_decode expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/Services/AmazonWebServices/src/SimpleEmailService/Domain.php
